spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    driver-class-name: ${spring.datasource.driver-class-name}
    url: jdbc:mysql://${spring.datasource.host}:${spring.datasource.port}/${spring.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}

server:
  port: 8080

mybatis:
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true

mindease:
  jwt:
    secret-key: mindease-jwt-secret-key-2024-secure-key-for-hmac-sha256
    ttl: 7200000

